@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");
/*Woek on the existence of smaller viewer*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #3d3b87;
}

.ProductCard {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  width: 300px;
  text-align: center;
}

.ProductsGrid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
